# Byte-compiled / optimized / DLL files
# remove __pycache__ for all folders and subfolders
__pycache__/
pyplecs/webgui/__pycache__/
/pyplecs/__pycache__/
/tests/__pycache__/

# other
pyplecs.egg-info/
.pytest_cache/
.venv/

# remove build artifacts
/dist
/build
*.egg-info


/utils/guipropview-x64
/utils/winlister-x64
/utils/depends22_x64
/utils/MacroCreatorPortable/x64/MacroCreator
/utils/MacroCreatorPortable/x86/MacroCreator
/utils/gui-inspect-tool-master
/utils/py_inspect-master

/utils/MacroCreatorPortable
tests/OLD/

utils/

*.old
.idea/

